* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #e4e4e4;
}


/* start of navbar  */

.Navbar {
    background-color: #000;
    width: 100%;
    height: 81px;
    user-select: none;
}

.Navbar .container {
    max-width: 1000px;
}

.navBar-logo h1 {
    display: inline-block;
    font-size: 32px;
    font-family: cursive;
    margin-top: 20px;
    color: #c79c60;
}

.navBar-logo img {
    width: 32px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.Navbar-Items {
    display: inline-block;
    margin-right: 30px;
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 6%;
    font-weight: bold;
}

.Navbar-Items a {
    text-decoration: none;
    color: #fff;
}

.Navbar-Items a:hover {
    text-decoration: none;
    color: #c79c60;
    cursor: pointer;
}


/* end of navbar  */


/* start of header  */

.header {
    height: 1000px;
    background-color: #282726;
    width: 100%;
}

.header .col-md-12 {
    max-width: 97%;
}

.lable-header {
    text-align: center;
}

.lable-header h2 {
    display: inline-block;
    font-size: 56px;
    color: #fff;
    font-family: cursive;
    margin-bottom: 10px;
}

.lable-header img {
    margin-left: 10px;
    margin-right: 10px;
}

.header-paragraph h3 {
    font-size: 62px;
    font-family: 'Times New Roman', Times, serif;
    color: #c79c60;
}

.header-paragraph p {
    color: #949494;
}

.Header-btn {
    width: 200px;
    height: 46px;
    background-image: url(../img/tm-brown-button.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    color: #c79c60;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
}

.Header-btn:hover {
    color: #fff;
    text-decoration: none;
}

.lamp {
    display: block;
}

.header-back-img {
    width: 100%;
}

@media only screen and (max-width:768px) {
    .Navbar-Items {
        display: block;
    }
    .header {
        height: auto;
        width: 100%;
    }
    .lamp {
        display: none;
    }
    .lamp-block {
        margin-left: 24%;
    }
    .lable-header h2 {
        font-size: 30px;
    }
    .header-paragraph h3 {
        font-size: 40px;
    }
    .header-back-img {
        display: none;
    }
    .Header-btn {
        margin-bottom: 20px;
    }
}


/* end of header  */


/* start of main section  */


/* main section1  */

.main-section {
    height: auto;
    /* background-color: #e4e4e4; */
}

.main-section1 {
    margin-top: 30%;
    display: flex;
    flex-direction: row;
}

.main-section1 img {
    border-radius: 50%;
    border: 10px #fff solid;
}

.main-section-lable {
    font-size: 30px;
    font-family: cursive;
    color: #c79c60;
    margin-bottom: 17px;
}

.main-section1 h3 {
    font-size: 30px;
    font-family: sans-serif;
}

.main-section1 p {
    font-size: 16px;
    font-family: sans-serif;
}

@media only screen and (max-width:768px) {
    .main-section1 {
        height: auto;
        flex-direction: column;
    }
    .main-section1 img {
        margin-bottom: 20px;
    }
}


/* end of main section1  */


/* start of main secrtion2 */

.Popular-Items {
    margin-top: 10%;
}

.Popular-Items h2 {
    color: #c79c60;
    font-size: 30px;
    font-family: cursive;
    margin-right: 30px;
    margin-left: auto;
}

.Popular-Items h2 img {
    margin-bottom: 18px;
}

.Popular-Items-hr {
    height: 1px;
    width: 695px;
    background-color: #c79c60;
    margin-right: auto;
}

@media only screen and (max-width:768px) {
    .Popular-Items {
        height: auto;
    }
}


/* end of main section2  */


/* start of  card of main s section   */

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1012px;
}

.cards {
    height: 500px;
    margin-top: 25px;
}

.main-section-card {
    background-color: #fff;
    border: 1px #000 solid;
}

.card {
    height: 440px;
    text-align: center;
    box-shadow: 0px 1.5px #b8b6b6bb;
}

.card:hover {
    box-shadow: 0px 5px #aeaeae6c;
    transition: ease-in-out 0.5s;
}

.card:hover h5 {
    color: #c79c60;
    transition: ease-in-out 0.5s;
}

.card:hover hr {
    background-color: #c79c60;
    transition: ease-in-out 0.5s;
}

.card:hover .card-order {
    color: #c79c60;
    transition: ease-in-out 0.5s;
    border: 2px solid #c79c60;
}

.card-order:hover {
    text-decoration: none;
}

.card h5 {
    text-align: center;
    font-size: 35px;
    color: #aeaeae;
    font-family: cursive;
}

.card h5::first-letter {
    font-size: 60px;
}

.card hr {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.card p {
    margin-bottom: 10px;
}

.card-order-box {
    width: 100px;
    height: 100px;
    background-color: rgb(82, 76, 76);
    border-radius: 50%;
    margin: auto;
    position: absolute;
    left: 103px;
    bottom: -71px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-order {
    text-decoration: none;
    font-size: 25px;
    border: 2px solid rgb(174, 174, 174);
    border-radius: 50%;
    width: 88px;
    height: 88px;
    padding-top: 8px;
    font-family: cursive;
    color: #e4e4e4;
}

@media only screen and (max-width:768px) {
    .cards {
        height: auto;
    }
    .card {
        height: auto;
        margin-bottom: 90px;
    }
    .card-order-box {
        display: none;
    }
}


/* end of  card of main s section   */


/* start of todays special section  */

.todays-special-hr {
    height: 1px;
    width: 695px;
    background-color: #c79c60;
    margin: auto;
}

.special-img1-outline {
    height: 400px;
    width: 500px;
    background-image: url(../img/special-1.jpg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    border: 9px solid #fff;
}

.special-img1-outline div {
    height: auto;
    width: 481px;
    background-color: #0d0a08cc;
}

.special-top-right-outline {
    width: 374px;
    height: 221px;
    background-size: cover;
    background-image: url(../img/special-2.jpg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 25px;
    border: 9px solid #fff;
}

.special-top-right-outline div {
    height: auto;
    width: 356px;
    background-color: #0d0a08cc;
}

.special-bottom-right-outline {
    display: flex;
}

.special-bottom-left {
    background-image: url(../img/special-3.jpg);
    height: 155px;
    width: 155px;
    background-size: cover;
    margin-right: 20px;
    display: flex;
    align-items: flex-end;
    border: 9px solid #fff;
    margin-right: 20px;
}

.special-bottom-right {
    background-image: url(../img/special-4.jpg);
    height: 155px;
    width: 155px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    border: 9px solid #fff;
}

.special-bottom-left p,
.special-bottom-right p {
    background-color: #0d0a08cc;
    height: auto;
    width: 152px;
    margin-bottom: 0px;
    color: #fff;
}

@media only screen and (max-width:768px) {
    .todays-special-section {
        height: auto;
    }
    .special-img1-outline {
        height: 389px;
        width: 370px;
        background-position: right;
        margin-bottom: 20px;
    }
    .special-img1-outline div {
        height: auto;
        width: 352px;
    }
}


/* end of todays special section  */


/* start of menu section  */

.menu .container {
    max-width: 1000px;
}

.menu {
    margin-bottom: 20px;
}

.menu-items {
    margin-bottom: 30px;
}

.menu-list {
    margin-left: 40px;
}

.menu-list li::marker {
    color: #c79c60;
    font-weight: 700;
}

@media only screen and (max-width:768px) {
    .menu {
        height: auto;
    }
}


/* end of menu section  */


/* end of main section  */


/* start of footer section  */

.footer {
    height: 337px;
    background-color: #302f2f;
    color: #fff;
    margin-top: 5%;
    padding-top: 3%;
    font-family: 'Times New Roman', Times, serif;
}

.footer-menu ul {
    list-style: none;
    color: #fff !important;
}

.footer-menu li {
    margin-bottom: 10px;
}

.footer-menu a {
    color: #fff;
    margin-bottom: 10px;
}

.footer-menu a:hover {
    text-decoration: none;
}

.footer-icons {
    margin-top: 20%;
}

.footer-icons a:hover,
.footer-menu li:hover {
    text-decoration: none;
}

.fa-facebook-f,
.fa-twitter,
.fa-youtube,
.fa-instagram {
    font-size: 25px;
    width: 35px !important;
    height: 35px !important;
    border-radius: 20%;
    background-color: #505050;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
    margin-left: 10px;
    padding-bottom: 3px;
}

.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.fa-instagram:hover {
    background-color: #c68735;
}

@media only screen and (max-width:768px) {
    .footer {
        height: auto;
    }
}


/* end of footer section  */


/* start copy right section  */

.copy-right-paragraph {
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 20px;
}


/* end copy right section  */


/* start menu page style  */

.menu-left {
    background-image: url(../img/vertical-menu-bg.png);
    height: auto;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    height: 392px;
    width: 242px;
    text-align: center;
}

.menu-left a {
    margin-top: 10px;
    text-decoration: none;
    color: #7c6a51;
}

.menu-left a:hover {
    text-decoration: none;
    color: #b68755;
}

.menu-card img {
    margin-right: 20px;
}

.menu-card {
    display: flex;
    background-color: #fff;
    margin-bottom: 15px;
    max-width: 652px;
    padding: 20px;
    justify-content: space-between;
}

.menu-card h3 {
    font-family: 'Times New Roman', Times, serif;
}

.menu-card:hover h3 {
    color: #c79c60;
    transition: all 0.5s;
}


/*end menu page style  */


/* start contact us page style  */

.send-msg {
    margin-top: 10%;
}

.msg-form-items {
    display: flex;
    flex-direction: column;
}

.msg-item {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #c79c60;
}

.msg-item:focus {
    outline: none;
    border: 1px solid #282726;
}


/* end contact us page style  */